<guibox class="login login-form">
	<form name="login" data-on="input, forms.login.validateForm(elem)">
		<ul>
			<li>
				 <input type="email" placeholder="login email" {{bindinput "forms.login.email.value"}} data-on="input, forms.login.email.validation(elem)" required />
			</li>
			<li>
				 <input type="password" placeholder="password" {{bindinput "forms.login.password.value"}} data-on="input, forms.login.password.validation(elem)" required />
			</li>
			<li >
				<button disabled>login</button>
				<button data-on="click, forms.login.login(e)" class="login-btn">login</button>
			</li>
			<li >
				<button data-on="click, forms.login.startRegistration(e)" class="start-registration-btn">register</button>
			</li>
		</ul>
	</form>
</guibox>