<guibox class="login login-form">
    <form name="login">
        <ul>
            <li>
                 <input type="email" placeholder="email" {{bindinput "form.email.value"}} data-on="input, form.email.validation(elem)" required />
            </li>
            <li>
                 <input type="password" placeholder="password" {{bindinput "form.password.value"}} data-on="input, form.password.validation(elem)" required />
            </li>
            <li data-on="click, form.login()" style="color:white">
                login
            </li>
            <li data-on="click, form.register()" style="color:white">
                register
            </li>
        </ul>
    </form>
</guibox>