<guibox class="map-mode menu-bar">
	<div class="menu-bar-wrapper">
		<ul class="list-inline float-right">
			<li> <i class="fa fa-globe"></i> 25 </li>
			<li> <i class="fa fa-space-shuttle"></i> 87/323 </li>
			<li class="main-menu-btn" data-on="click, menuBar.mainMenuBtn.action()"> 
				<i class="fa fa-gears"></i> 
			</li>
		</ul>
		<div class="background"></div>
	</div>
</guibox>