@import './src/game/resources/styles/sass/fonts.scss';
@import './src/game/resources/styles/sass/variables.scss';

@import './src/engine/resources/styles/sass/engine.scss';
@import './src/game/states/mainMenu/gui/sass/mainMenu.scss';



body, html, canvas { 
    margin: 0; 
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
	background: #efefef;
	margin: 0px;
	padding: 0px;
	font-family: Orbitron;
}
