@import './src/engine/resources/styles/sass/engine.scss';

@import './src/game/resources/styles/sass/fonts.scss';
@import './src/game/resources/styles/sass/variables.scss';

@import './src/game/states/intro/gui/sass/intro.scss';
@import './src/game/states/mainMenu/gui/sass/mainMenu.scss';
@import './src/game/states/mapMode/gui/sass/mapMode.scss';
@import './src/game/states/devMode/gui/sass/devMode.scss';

body, html, canvas { 
    margin: 0; 
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
    cursor:default;
}

body {
	background: #efefef;
	margin: 0px;
	padding: 0px;
	font-family: Orbitron;
}
