@import './src/engine/resources/styles/sass/engine.scss';


body, html, canvas { 
    margin: 0; 
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
	background: #efefef;
	margin: 0px;
	padding: 0px;
}
