$primary-color: #2BEDE6;
$highlight-color: lighten( $primary-color, 20% );;
$lowlight-color: darken( $primary-color, 20% );
$dark-accesnt: #134242;

$success-color: #4FE38B;
$danger-color: #ED3737;

$material-dark: #121212;
$material-high-light: lighten( $material-dark, 35% );
$material-high-light-bright: lighten( $material-dark, 50% );