<guibox class="main-menu menu">
	<ul>
		{{#each menu as |option|}}
			<li data-on="click, menu.{{@key}}.action()">
				<i class="fa fa-chevron-right float-left"></i>
				{{option.gloss}}
				<div class="corner bottom-left"></div>
				<div class="corner bottom-right"></div>
			</li>
		{{/each}}
	</ul>
</guibox>