@import "./src/engine/resources/fonts/font-awesome/scss/font-awesome.scss";

body {
	background: red;
}

guibox {
	position: fixed;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline.divider-pipe>li+li:before {
    content: ' | ';
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.list-inline>li:first-child {
    padding-left: 0;
}