
.login.login-form {
    top: 150px;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    /*background-color: blue;*/
    color: white;
}

.login.login-form form {
    width: 100%;
   /* background-color: red;*/
}

.login.login-form form ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.login.login-form form ul li {
    /*background-color: green;*/
    margin-bottom: 10px;
    padding: 0px;
    text-align: center;
    min-height: 20px;
}

.login.login-form form ul li input {
    color: $lowlight-color;
    font-size: 1.25em;
    text-align: center;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    border: none;
    box-shadow: inset 0 0 -1px 1px $highlight-color;
    background: linear-gradient(135deg,rgba( $dark-accesnt, .25 ),rgba( $dark-accesnt, .5 ));
    border-bottom: thin solid $dark-accesnt;
    transition: color 0.25s ease-out, box-shadow 0.5s ease-out;
}

.login.login-form form ul li input::-webkit-input-placeholder {
    color: darken($lowlight-color, 25%);
}

.login.login-form form ul li input:focus {
    outline:none;
    box-shadow: 0px 0px 2px 3px $success-color, inset 0 -4px 10px -5px #AAFFFC;
}

.login.login-form form ul li input.invalid {
    box-shadow: 0px 0px 2px 3px $danger-color, inset 0 -4px 10px -5px #AAFFFC;
}

.login.login-form form ul li button {
    color: $lowlight-color;
    height: 20px;
    width: 75px;
    border: none;
    height: 25px;
    cursor: pointer;
    position: relative;
    box-shadow: inset 0 0 -1px 1px $highlight-color;
    background: linear-gradient(135deg,rgba( $dark-accesnt, .2 ),rgba( $dark-accesnt, .2 ));
    border-bottom: thin solid $dark-accesnt;
    transition: color 0.25s ease-out, box-shadow 0.5s ease-out;
}

.login.login-form ul li input::before 
.login.login-form ul li button::before{
    content: '';
    position: absolute;
    background: darken( $primary-color, 50% );
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(4px);
    opacity: 0.8;
    z-index: -1;
}

.login.login-form ul li button:hover:not([disabled]) {
    color: $highlight-color;
    box-shadow: inset 0 -4px 10px -5px #AAFFFC;
}

.login.login-form ul li button[disabled] {
    background: linear-gradient(135deg,rgba( $dark-accesnt, .2 ),rgba( darken($danger-color, 35%), .2 ));
    color: darken($lowlight-color, 25%);
    box-shadow: inset 0 0 -1px 1px $danger-color;
    border-bottom: thin solid $danger-color;
}

.login.login-form ul li button[disabled]:hover {
    cursor: not-allowed;
}

.login.login-form form ul li button:active,
.login.login-form form ul li button:focus {
    color: $success-color;
    border: none;
    outline: none;
}

.login.login-form form ul li button.login-btn,
.login.login-form form.valid ul li button[disabled] {
    display: none;
}

.login.login-form form.valid ul li button.login-btn {
    display: inline-block;
}

.login.login-form .errors {
    color: $danger-color;
}



