
.main-menu.title {
	top: 10px;
	left: 50%;
	margin-left: -100px;
	color: white;
	font-family: sans-serif;
}

.main-menu.menu {
	top: 250px;
	left: 50%;
	margin-left: -100px;
	color: white;
	font-family: sans-serif;
}